body{
    overflow-x: hidden;
}

.header_top{
    background-color: #00001a;
}
.left_icon i{
   background-color: #a90032;
   color: #ffffff;
   padding: 5px;
   margin: 0 1px;
}
.fa {
    font-size: 20px;
    margin-left: 10px;
}
.right_icon{
    color: #fff;
    float: right;
    margin-top: -25px;
}
.header img{
    margin: 10px;
    border: 1px solid gray;
}
.section_header{
    display: flex;
    width: 100%;
    justify-content: center;
}
.header_text{
    justify-content: center;
    align-items: center;
    display: flex;
}
.text{
    color: #a10032;
    font-weight: bold;
    font-size: 20px;
}
.text span{
    position: relative;
}
.text2{
    color: #d1580a;
}
.header_bottom{
    background-color: #a90032;
    color: #fff !important;
}
.navbar-nav li{
    margin-right: 23px;
}
.navbar-nav li a{
    color: #fff !important;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.navbar-nav>li.active>a{
    background-color: #fff !important;
    color: #a90032 !important;
}
.navbar-nav>li>a:hover{
    background-color: #a90032;
    color: #fff !important;
    border: none !important;
}
.navbar-collapse ul{
    list-style: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    background: white;
    color: #a90032 !important;
}
.slider_section{
    background-image: url('.././images/college.png');
    width: 100%;
    height: 750px;
    background-size: 100% 715px; 
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_section:before{
    content: "";
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.slick-prev {
    left: 13%;
}
.slick-next {
    right: 13%;
}
.img_container img{
    width: 180px;
    height: 180px;
    margin: auto;
}

.slider_content{
    font-size: 45px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
}
.slider_content span{
    font-size: 33px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
}
.detail_img img{ 
    width: 100%;
    height: 425px;
}
.lang_teach{
    font-size: 30px;
    line-height: 36px;
    color: #a90032;
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 0;
}
.lang-text{
    margin-top: 15px;
}
.detail_section_text{
    width: 525px;
    height: 168px;
    font-size: 20px;
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
}
.detail_section{
    padding: 50px 0px;
}
.detail_button{
    width: 136px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #a90032;
}
.button_text{
    font-size: 20px;
    line-height: 22px;
    color: #a90032;
    font-family: "Poppins";
    font-weight: 500;
    text-align: left;
}
.desk_section button{
    width:175px;
    height: auto;
}
.button_icon{
    width: 19px;
    height: 20px;
}
.trapesium {
    border-right: 25px solid transparent;
    border-left: 0px solid transparent;
    border-top: 35px solid #a90032;
    width: 810px;
    height: 63px;
    
  }
  .desk_section {
    margin: 25px 0;
    background-color:#efefef;
  } 
.desk_text_before::before{
    content: 'FROM PRINCIPALS DESK';
    border-right: 25px solid transparent;
    border-left: 0px solid transparent;
    border-top: 35px solid #a90032;
    width: 100%;
    height: 63px;
    color: #fff;
    position: absolute;
    font-size: 28px;
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
}
.desk_from_text:after{
    content: '';
    position: absolute;
    border-right: 25px solid transparent;
    border-left: 0px solid transparent;
    border-top: 35px solid #a90032;
    width: 810px;
    height: 63px;
}
.footer_input input{
    width: 100%;
}
.desk_from_text{
    font-size: 28px;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 600;
}
.box-image{
    margin-bottom: 10px;
    margin-top: -30px;
}
.desk_img{
    width: 100%;
    height: 395px;
}
.rectangle {
    height: 85px;
    width: 100%;
    background-color: #fd9b0a;
}
.principal_text{
    font-size: 33px;
    line-height: 41px;
    color: #a90032;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
}
.dr_text{
    font-size: 38px;
    line-height: 41px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin: -10px;
}
.desk_text{
    font-size: 20px;
    color: #000000;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    padding-bottom: 50px;
    position: relative;
    margin-top: 25px;
}
.desk_quote{
    font-size: 20px;
    color: #a90032;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    border: none;
    background-color:#efefef;
}
.button_text img{
    margin: -5px 0 0 5px;
}

.event1_text{
    font-size: 19px;
    color: #fd9b0a;
    font-family: "Poppins";
    font-weight: 500;
}
.latest_image img :hover{
    font-size: 19px;
    line-height: 21px;
    color: #a90032;
    font-family: "Poppins";
    font-weight: 500;
}
.latest_img{
    margin-top: -15px;
}
.footer_section{
    background-color: #00001a;
    margin-top: 55px;
}
.footer_heading{
    font-size: 15px;
    line-height: 25px;
    color: #fd9b0a;
    font-family: "Poppins";
    font-weight: 500;
    text-align: left;
    margin: 20px 0 0 0;
    padding: 0;
}
.li_text li{
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    left: -2.5em;  
}
.imp_link ul{
    list-style: none;
}
.li_text li:before {   
    content: "";  
    border-color: transparent #fd9b0a;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -2.5em;  
    top: 0.9em;  
    position: relative;  
    margin: -5px;
} 
.grad_text{
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    left: -2.5em;  
    margin-top: -10px ;
}
.grad_img{
    margin-top: -10px;
}
.fa-map-marker,.fa-phone,.fa-envelope{
    color: #fd9b0a;
    margin-right: 10px;
    margin-left: -1px;
}
.name_input{
    margin: 15px 0;
}
.send_btn{
    align-items: center;
    color: #fff;
    background-color: #a90032;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
}
.follow_icon{
    color: #fff;
    top: 5px;
}
.map_img img{
    width: 100%;
    height: 183px;
}
.copyright{
    background-color: #a90032;
    color: #fff;
}
.copyright p{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
    margin: 10px 10px!important;
}
.detail_image{
    float: left;
}
.red-title p{
    margin-top: 10px;
}
.red-title {
    width: 60%;
    padding: 5px 100px 5px 10px;
    font-size: 35px;
    position: relative;
    color: #FFF;
    background: #A90032;
    z-index: 3;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}
.red-title:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #A90032;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}
.latest_news_slider .slick-dots li.slick-active button:before {
    color: #A90032!important;
}
.latest_news_slider .slick-dots li button:before {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    font-size: 20px!important;
}
.latest_news_slider .slick-slide {
    margin: 10px;
}
.left_li li,.right_li li{
    display: inline-block;
}
.right_li li a{
    color: #FFF!important;
}
.left_icon ul{
    margin: 0;
    padding: 0;
}
.latest_image img{
    width: 100%;
    height: 250px;
    cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    transition: .3s ease;
    background-color:transparent;
  }
 .latest_image:hover .overlay{
     opacity: 1;
     cursor: pointer;
     background-color: rgba(0,0,0,0.75);
 }
 .latest_image{
     position: relative;
 }
 .image_slider:hover p {
     color: #A90032;
 }
 .latest_image:hover .verticalLine,.latest_image:hover .horizontalLine,.latest_image:hover .rotate-vertical,.latest_image:hover .rotate-horizontal{
     background-color: #fff;
 }
 .latest_image:hover .view-detail{
     color: #fff;
 }
 .verticalLine {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 1px;
    top: 10px;
    bottom: 0px;
    left: 10px;
    height: 100px;
    transform: translateX(-50%)
 }
 .horizontalLine {
    position: absolute;
    width: 1px;
    top: 10px;
    bottom: 0;
    left: 60px;
    background-color: transparent;
    transform: translate(-50%, -50%) rotate(90deg);
    height:100px;
 }
 .rotate-vertical{
    display: block;
    position: absolute;
    background-color: transparent;
    width: 1px;
    bottom: 10px;
    height: 100px;
    right: 10px;
    transform: rotate(180deg);
 }
 .rotate-horizontal{
    position: absolute;
    width: 1px;
    bottom: -90px;
    right: 60px;
    background-color: transparent;
    transform:translate(-50%, -50%) rotate(90deg);
    height:100px;
 }
 .view-detail{
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    color: transparent;
 }

 .search-image {
    margin-left: auto;
    margin-top: -40px;
    width: 50px;
    height: 40px;
}
.search-icon{
    right: 10%!important;
    position: absolute;
    top: 10%;
}
.navbar-toggler-icon{
    color: #000000;
}
button.navbar-toggler{
    position: absolute;
    left: auto;
    top: 60px;
    right: 17%;
    margin-right: 20px;
    background-color: #f29532;
    /* color: #000000; */
}
button.navbar-toggler span{
    color: #000000;
    background-color: #000;
}
.navbar-toggler-icon{
    color: #000000!important;
    background-color: #f29532;
}
.footer_input input::placeholder{
    font-size: 12px;
}